<br>
<div class="content">
    <div class="ui container">
        <div id="intro">
            <div id="middle" class="ui basic segment">
                <h1>WHO ARE WE?</h1> 
                <p class="header">
                    Everyone needs a break. The big question is, where should you go 
                    to make Jeanine from Accounting jealous?
                    MyGlobe is the tool you wanted, and the app we created!  With 
                    MyGlobe, we do the hardwork of coming up with destination ideas 
                    for your next vacation!
                </p>
            </div>
            <div id="middle" class="ui basic segment">
                <h1>HOW DOES IT WORK?</h1>
                <p class="header">
                    Buckle up, it's time to get technical! The database organizes 
                    airports by the destinations they service and the countries they
                    are in. Destinations are classified by broad categories representing
                    the type of vacation you might want. You also may only want to travel to
                    a place where you'll be able to speak with the locals. You have you covered for
                    that too! 
                </p>
            </div>
            <div id="middle" class="goldText special ui basic segment">
                <h3>Vacation Types</h3>
                <p>
                    The most important part is deciding what vacation you want to experience.
                    Here are some info to help you decide:
                </p>
                <div class="ui three column grid">
                    <div class="row">
                        <div class="four wide centered column">
                            <div class="ui card">
                                <div class="image">
                                    <img src="/images/small_square/mountain_small.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Alpine</div>
                                    <div class="description">
                                        Hit the slopes during winter and spring. Trekk up mountains 
                                        Summer and Fall.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide centered column">
                            <div class="ui card">
                                <div class="image">
                                    <img src="/images/small_square/beach_small.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Beach</div>
                                    <div class="description">
                                        Tropical paradise! Relax by the beach,
                                        enjoy a cocktail, and dip in the cool waters.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide centered column">
                            <div class="ui card">
                                <div class="image">
                                    <img src="/images/small_square/rural_small.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Rural</div>
                                    <div class="description">
                                        Experience rural views such as never-ending rice fields,
                                        vineyards, and tulips fields.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="four wide centered column">
                            <div class="ui card">
                                <div class="image">
                                    <img src="/images/small_square/nature_small.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Nature</div>
                                    <div class="description">
                                        Forests, jungles, volcanoes and the likes! May
                                        require long hikes, but the views will be worth it 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide centered column">
                            <div class="ui card">
                                <div class="image">
                                    <img src="/images/small_square/urban_small.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Urban</div>
                                    <div class="description">
                                        Experience a bumbling city during the day and 
                                        a thriving night life once the sun sets.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide centered column">
                            <div class="ui card">
                                <div class="image">
                                    <img src="/images/small_square/antiquity_small.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Antiquity</div>
                                    <div class="description">
                                        Our ancestors built a lot cool stuff! Discover 
                                        past civilizations and their cultural wonders.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="middle" class="ui basic segment">
            <h1>HOW DO I START?</h1>
            <p class="header">
                We're glad you asked! Simply navigate to
                our <a href="/explore">Explore</a> page, fill a quick survey, hit 'submit',
                and watch the results come in!
            </p> 
        </div>
        <div id="middle" class="ui basic segment">
            <h2>FOR THE NERDS</h2>
            <p>Enjoy working with data? If so, check out our database!</p>
            <button class="classic" onclick=location.href="/assets/countries.csv">Download Database</button>
        </div>
    </div>
</div>

{{>footer}}