<br>
<div class="content">
    <div class="ui container">
        <div class="ui padded grid">
            <div class="six wide left floated column">
                <h3>Search Destinations</h3><br>
                <h4>WOOPS! Under Construction</h4>
                <p>
                    We are diligently working on search features to help you find
                    your dream vacation, check back later.
                </p>
            </div>
            <div class="eight wide right floated column">
                    <h3>Search Tips</h3>
                <ul>
                    <li>Keep your search broad at first.</li>
                    <li>If the search returns empty, don't get discouraged.</li>
                    <li>If you are looking to travel for cheap, search for countries with low FPI.</li>
                </ul>
                <div class="ui two column grid">
                    <div class="row">
                        <div class="column">
                            <h3>FOUND A DESTINATION?</h3>
                            <p>Search Flights with Google Flights</p>
                        </div>
                        <div class="flexCol">
                            <button class="classic inverted large" onclick=location.href="https://www.google.com/flights/">Search Flights</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>
    <div class="ui padded grid">
        <div class="ten wide centered column">
            <h2>In the meantime, check out our database!</h2>
            <ul>
                <li><a href="/airports/">List, Add, Update and Delete Airports (perform Create, Read, Update, Delete operations on a single entity)</a></li>
                <li><a href="/countries/">List and add new countries</a></li>
                <li><a href="/vacations/">List and add new vacations</a></li>
                <li><a href="/flights/">List and add new flights</a></li>
                <li><a href="/languages/">List and add new languages</a></li>
                <li><a href="/country_language/">Associate and Deassociate rows between countries and languages (M-to-M relationship)</a></li>
                <li><a href="/airports/">Associate and Deassociate rows between aiports and countries (1-to-M relationship)</a></li>
                <li><a href="/country_language/">Change Languages of a Country (M-to-M relationship)</a></li>
                <li><a href="/airports/">Change Location of an Airport (1-to-M relationship)</a></li>
                <li><a href="/airports/">Filter Airports by location</a></li>
            </ul>
        </div>
    </div>
</div>


{{>footer}}

<script>
  $('.ui.dropdown')
  .dropdown();
</script>