<br>
<div class="content">
    <div class="ui padded grid">
        <form class="ui form" action="/languages" method="POST">
            <div class="field">
                <label>Language</label>
                <input type="text" name="language" placeholder="Language">
            </div>
            <button class="ui tiny button">Add Entity</button>
            <div class="ui error message"></div>
        </form>
    </div>

    <div class="ui divider"></div>

    <div class="ui horizontally padded grid">
        <div class="ten wide column">
            <h2 class="ui header">Current Languages:</h2>
        </div>
        <div class="six wide column"></div>
        <div class="three wide column">
            <table class="ui basic compact table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each languages}}
                    <tr>
                        <td>{{name}}</td>
                        <td>
                            <button class="ui tiny red inverted button" onclick="deleteEntry('/languages/{{id}}')">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui divider"></div>
</div>

{{>footer}}

<script>
$('.ui.form')
    .form({
        fields: {
            language     : 'empty'
        }
    })
;
</script>